<% layout('layouts/boilerplate') %>

<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-md-6 offset-md-3">
    <form
      action="/campgrounds/<%=campground._id%>?_method=PUT"
      method="POST"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="campground[title]"
          value="<%= campground.title %>"
          required
        />
        <div class="invalid-feedback">Please insert a title.</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="campground[location]"
          value="<%= campground.location %>"
          required
        />
        <div class="invalid-feedback">Please insert a location.</div>
      </div>

      <!-- Existing Images -->
      <div class="mb-3">
        <label class="form-label">Current Images</label>
        <div>
          <% campground.images.forEach(function (img, i) { %>
          <img
            src="<%= img.url %>"
            alt="campground image"
            style="width: 100px; margin-right: 5px"
          />
          <div class="form-check-inline">
            <input
              type="checkbox"
              id="image-<%=i%>"
              name="deleteImages[]"
              value="<%= img.filename %>"
            />
          </div>
          <label for="">Delete Image</label>
          <% }) %>
        </div>
      </div>

      <!-- Image Upload Limit -->
      <% const maxImages = 5; %> <% const imagesLeft = maxImages -
      campground.images.length; %>

      <div class="mb-3">
        <label class="form-label"
          >You can upload <%= imagesLeft %> more image(s)</label
        >

        <% if (imagesLeft > 0) { %>
        <div class="input-group mb-3">
          <input type="file" class="form-control" id="image" name="image"
          multiple accept="image/*" <%= imagesLeft === 0 ? 'disabled' : '' %> />
          <label class="input-group-text" for="image">Add Images</label>
        </div>
        <% } else { %>
        <p class="text-danger">
          You have reached the maximum number of 5 images. Please delete some
          images if you want to add new ones.
        </p>
        <% } %>
      </div>

      <div class="mb-3">
        <label class="form-label" for="price">Campground Price</label>
        <div class="input-group mb-3">
          <span class="input-group-text">$</span>
          <input
            type="text"
            class="form-control"
            id="price"
            aria-label="Amount (to the nearest dollar)"
            name="campground[price]"
            value="<%= campground.price %>"
            required
          />
          <span class="input-group-text">.00</span>
          <div class="invalid-feedback">Please insert a price.</div>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="campground[description]"
          required
        >
<%= campground.description %></textarea
        >
        <div class="invalid-feedback">Please insert a description.</div>
      </div>
      <div class="mb-3">
        <button class="btn btn-info">Update Campground</button>
      </div>
    </form>
    <a href="/campgrounds/<%= campground._id%>">Back To Campground</a>
  </div>
</div>
